<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      th:replace="~{ base :: layout(~{::title} , ~{::section}) }">
<head>
    <meta charset="ISO-8859-1">
    <title>Emp Edit Form</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <p class="fs-4">Edit Emp</p>
                            <th:block th:if="${session.msg}">
                                <p class="text-center text-success fs-4">[[${session.msg}]]</p>
                                <th:block th:text="${@empServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>
                        </div>
                        <div class="card-body">
                            <form action="/updateEmpDtls" method="post">
                                <input type="hidden" name="id" th:value="${emp.id}">
                                <div class="mb-3">
                                    <label for="fullName" class="form-label">Full Name</label>
                                    <input type="text" class="form-control" name="fullName" th:value="${emp.fullName}">
                                </div>

                                <div class="mb-3">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="number" class="form-control" name="age" th:value="${emp.age}">
                                </div>

                                <div class="mb-3">
                                    <label for="dateOfBirth" class="form-label">Date of Birth</label>
                                    <input type="date" class="form-control" name="dateOfBirth" th:value="${emp.dateOfBirth}">
                                </div>

                                <div class="mb-3">
                                    <label for="salary" class="form-label">Salary</label>
                                    <input type="number" class="form-control" name="salary" th:value="${emp.salary}">
                                </div>

                                <div class="mb-3">
                                    <label for="department" class="form-label">Department</label>
                                    <input type="text" class="form-control" name="department" th:value="${emp.department}">
                                </div>

                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
